<div>
    <div class="uk-card uk-card-default uk-card-small uk-text-center uk-text-baseline uk-animation-scale-up">
        <div class="uk-card-media-top">
            <img src="{{image.url}}">
        </div>
        <div>
            <div class="uk-card-footer">
                <p> {{image.public_id}}</p>
                <a href="/deleteimage/{{parking._id}}/{{image.public_id}}" uk-icon="icon: trash"></a>
            </div>
        </div>
    </div>
</div>