<div>
    <div class="uk-card uk-card-default uk-card-body uk-box-shadow-large">
        <h3 class="uk-card-title uk-text-center">New Administrator Sign Up</h3>
        <form action="/signupadmin" method="POST">
            <div class="uk-margin">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon" uk-icon="icon: user"></span> <input class="uk-input uk-form-large" type="text"
                                                                                   name="firstName">
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon" uk-icon="icon: user"></span> <input class="uk-input uk-form-large" type="text"
                                                                                   name="lastName">
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon" uk-icon="icon: mail"></span> <input class="uk-input uk-form-large" type="text"
                                                                                   name="email">
                </div>
            </div>

            <div class="uk-margin">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon" uk-icon="icon: lock"></span> <input class="uk-input uk-form-large"
                                                                                   type="password" name="password">
                </div>
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon" uk-icon="icon: lock"></span> <input class="uk-input uk-form-large"
                                                                                   type="password" name="repeat_password">
                </div>
            </div>

            <div class="uk-margin">
                <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Sign up</button>
            </div>

        </form>
    </div>
</div>