<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    {{#each users}}
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-1@s uk-margin" uk-grid>
            <div>
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom">{{firstName}} {{lastName}}</h3>
                            <p class="uk-text-meta uk-margin-remove-top">{{email}}</p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-footer">
                    <p uk-margin>
                        <a href="/deleteuser/{{_id}}" class="uk-button uk-button-danger uk-button-small" uk-icon="trash"></a>
                    </p>
                </div>
            </div>
        </div>
    {{/each}}
</div>
