<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="CamperPark" subTitle="Create a new parking"}}
  {{> main-menu }}
</div>

<div class="uk-container uk-margin">
  <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-auto@m">
      <img width="400" src="images/camper2.png" />
    </div>
    <div class="uk-width-expand@m">{{> add-parking}}</div>
  </div>
</div>
